@import "tailwindcss";

@font-face {
  font-family: "Gordita";
  src: url("/template/fonts/gordita/Gordita-Light.woff2") format("woff2"),
    url("/template/fonts/gordita/Gordita-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gordita";
  src: url("/template/fonts/gordita/Gordita-Regular.woff2") format("woff2"),
    url("/template/fonts/gordita/Gordita-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gordita";
  src: url("/template/fonts/gordita/Gordita-Medium.woff2") format("woff2"),
    url("/template/fonts/gordita/Gordita-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gordita";
  src: url("/template/fonts/gordita/Gordita-Bold.woff2") format("woff2"),
    url("/template/fonts/gordita/Gordita-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-primary: "Gordita", sans-serif;
  --color-primary: #e8c347;
  --color-secondary: #000000b3;
  --color-grey: #fff9;
  --color-background: #ffffff;
  --color-dark-background: #141414;
}


body {
  scroll-behavior: smooth;
  font-display: swap;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  --font-primary: "Gordita", sans-serif;
}

@theme {
  --font-primary: var(--font-primary);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-background: var(--color-background);
  --color-dark-background: var(--color-dark-background);
  --color-grey: var(--color-grey);
}

@layer utilities {
  @keyframes fade-in-left {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fade-in-right {
    from {
      opacity: 0;
      transform: translateX(20px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
@keyframes slideDown {
  from {
    height: 0px;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0px;
  }
}

  /* Animation classes */

  .fade-in-left {
    animation: fade-in-left 1s ease-out forwards;
  }

  .fade-in-right {
    animation: fade-in-right 1s ease-out forwards;
  }

  .fade-in-up {
    animation: fade-in-up 1s ease-out forwards;
  }

  .spin-slow {
    animation: spin-slow 30s linear infinite;
  }
  
}

.swiper-pagination {
  height: 30px;
  position: absolute;
  /* Place pagination over image */
  bottom: 10px;
  left: 0;
  width: 100%;
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  opacity: 0;
  visibility: hidden;

  transition: all 0.3s ease-in-out;
}



.listing-slider .swiper-pagination-bullet {
  position: relative;
  /* NOT absolute anymore */
  width: 35px;
  height: 4px;
  border-radius: 10px;
  background: #ffffff;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s ease;
  z-index: 40;
}

.listing-slider .swiper-pagination-bullet-active {
  opacity: 1;
  background: #ffffff;
}

.card-pagination:hover .swiper-pagination {
  opacity: 1;
  visibility: visible;
}

.testimonial-swiper .swiper-slide {
  height: auto;
}

.testimonial-swiper .swiper-pagination {
  visibility: visible;
  opacity: 1;
  justify-content: start;
  padding-left: 40px;
  bottom: 10%;
  left: 10%;


  bottom: 6%;
  left: 9%;
}

.testimonial-swiper .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid black;
}

.testimonial-swiper .swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--color-primary);
  border: 1px solid black;
}
